<div class="">
  <!-- HEADER: BEGIN -->
  <section class="col-md-12 col-sm-12 col-xs-12 pz-header-box">
    <img src="./../assets/images/icons/haufe_logo.svg" class="pz-logo" alt="Haufe-Group Logo">
  </section>
  <!-- HEADER: END -->
</div>

<div class="container">
  <!-- 2 COLUMN LAYOUT: BEGIN -->
  <div class="row">

    <!-- LEFT COLUMN (ARTICLE COMPONENT): BEGIN -->
    <app-article-details></app-article-details>
    <!-- LEFT COLUMN (ARTICLE COMPONENT): END -->


    <!-- RIGHT COLUMN (LIST COMPONENT): START -->
    <app-news-list></app-news-list>
    <!-- RIGHT COLUMN (LIST COMPONENT): END -->

  </div>
  <!-- 2 COLUMN LAYOUT: END -->
</div>

